@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';


@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.btn {
    @apply border-success-600 border-2;
}
